@charset "utf-8";
/* CSS Document */

.color1{ background-color:#d95715;}
.color2{ background-color:#2e8dcd;}
.color3{ background-color:#1ea097;}
.color4{ background-color:#894c15;}
.color5{ background-color:#984fd0;}
.color6{ background-color:#73bb2a;}
.color7{ background-color:#f42d5e;}
.color8{ background-color:#e41f1f;}
.color9{ background-color:#2262d8;}
.color10{ background-color:#656565;}
.color11{ background-color:#3d812e;}